@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button,
  input[type='number'] {
    -webkit-appearance: none;
    margin: 0;
    -moz-appearance: textfield !important;
  }
}

html {
  scroll-behavior: smooth;
}

.fullHeightSection {
  height: calc(100vh - theme('spacing.24'));
  max-height: calc(100vh - theme('spacing.24'));
}
